
.container-fluid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}
h1{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    border-style: solid;
    border-color: goldenrod;


}

li {
    float: left;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body{
    background-color: rgb(255, 255, 255);
}

@media screen and (orientation:landscape){
    #logo{
        width: 320px;
        height: 320px;
    }
}
@media (max-width:414px){
    .container-fluid{
        position: relative;
        /*display:table;*/
        width: 220px;
        height: 180px;
    }
    img{
        width: 280px;
        height: 280px;
    }
    .row{
        margin-left: 1px;
    }
}
@media (max-width:375px){
    .container-fluid{
        width: 250px;
        height:200px;
    }
    img{
        width: 280px;
        height: 280px;
    }
    .row{
        margin-left: 1px;
    }
}
